body{
    margin: 0;
    padding: 0;
    background: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.title{
    text-align: center;
    padding: 50px 0 20px;
}
.title h1{
    margin: 0;
    padding: 0;
    color: blue;
    text-transform: uppercase;
    font-size: 36px;
}
.container{
    width: 50%;
    height: 400px;
    background: #fff;
    margin: 0 auto;
    border: 2px solid #fff;
    box-shadow: 0 15px 40px rgba(0,0,0,.5);
}
.container .left{
    float: left;
    width: 50%;
    height: 400px;
    background: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}
.container .right{
    float: right;
    width: 50%;
    height: 400px;
    box-sizing: border-box;
}
.form-box{
    width: 100%;
    padding: 80px 40px;
    box-sizing: border-box;
    height: 400px;
    background: #fff;
}
.form-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: blue;
}
.form-box input{
    margin-bottom: 20px;
}
.form-box input[type="text"],
.form-box input[type="password"]{
    border: none;
    border-bottom: 2px solid blue;
    outline: none;
    height: 40px;
    width: 100%;
}
.form-box input[type="text"]:focus,
.form-box input[type="password"]:focus{
    border-bottom: 2px solid black;
}
.form-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    background: black;
    cursor: pointer;
    width: 100%;
}
.form-box input[type="submit"]:hover{
    background: blue;
}
.form-box a{
    color: black;
    font-size: 12px;
    font-weight: bold;
}
